:root {
    --primary-color: #57C5B6;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
    color: #2c2c2c;
}

.page {
    width: 100%;
    height: auto;
}

.logo {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: -0.07rem;
    position: fixed;
    top: 2rem;
    left: 2rem;
}

#main-section {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 15vh;
    padding: 0 5vh;
}

.image {
    width: auto;
    height: 65vh;
}

.typograpgy{
    color: #2C2C2C;
    font-size: 18vh;
    font-weight: 700;
    letter-spacing: -0.17rem;
}

.btv{
    color: var(--primary-color);
    font-family: "Rubik One", sans-serif;
}

.div-left{
    width: 100%;    
}

.text {
    color: #000;
    text-align: justify;
    font-size: 4.5vh;
    font-weight: 400;
}

#group-content {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 3rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #2c2c2c;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    text-transform: uppercase;
}

.quote {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.team-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-image img {
    width: 80%;
    height: auto;
    border-radius: 2rem;
    border: 3px solid #57c5b6;
    justify-content: center;
    align-items: center;
}

#member-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7FA;
    height: 100vh;
    padding: 3rem 0;
}

.card-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 15vh;
    margin: 4rem auto 0;
}

.card {
    width: 20vw;
    height: 60vh;
    border-radius: 1.25rem;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#binh {
    background-image: url(images/mem.png);
}

#tai {
    background-image: url(images/mem.png);
}

#van {
    background-image: url(images/mem.png);
}

.info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 0 0rem 1.25rem 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}

.info .name {
    font-weight: 600;
}

.info-page {
    padding: 6rem;
    height: 100%;
}

.container-info{
    padding-left: 6rem;
    width: 100%;
}

.intro{
    color: #000;
    text-align: left;
}

.info-text {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3.2px;
}

.mem-name{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.detail-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    padding-right: 20rem;
}

.detail{
    font-size: 1.5rem;
}


.field{
    color: #57C5B6;
    font-weight: 600;
    text-transform: uppercase;
}

.val{
    color: #000;
    font-weight: 400;
    padding-top: 1rem;
}

.image-info{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: 0% 0%;
}

.info-mem{
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
}

.about{
    padding: 0 1rem 0 0;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(63, 112, 133);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-bar .btv {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

.menu-list {
    display: flex;
    gap: 5rem;
    font-weight: 600;
}

.menu-item:hover {
    color: var(--primary-color);
    border-bottom: var(--primary-color) 2px solid;
}